* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.pagina {
  font-family: 'roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto; }

.barra-de-navegacion {
  display: inline-flex;
  width: 100%;
  list-style: none;
  border: 2rem;
  padding: 1rem 2rem 1rem 4rem;
  margin: 0rem;
  text-decoration: none;
  background: #B20303;
  color: #ffff;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 3rem;
  text-align: center;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  .barra-de-navegacion .logo {
    width: 4em;
    padding: 0em 1em 0em 0em; }
    .barra-de-navegacion .logo .marca {
      font-weight: 700;
      font-size: 1.125rem;
      font-style: normal;
      line-height: normal; }
  .barra-de-navegacion a {
    text-decoration: none;
    list-style: none;
    color: #ffff; }
  .barra-de-navegacion .links-nav {
    list-style: none;
    text-decoration: none;
    padding: 0em 4em 0em 4em;
    color: #ffff; }
    .barra-de-navegacion .links-nav a {
      text-decoration: none;
      color: #ffff;
      font-size: 1em; }
      .barra-de-navegacion .links-nav a:hover {
        color: #000000;
        text-shadow: 5px 2px solid gray; }

.botonera {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.boton {
  text-align: center;
  border: 2.5rem;
  padding: 1rem;
  text-decoration: none;
  background: #B20303;
  color: #ffff;
  font-family: 'roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  border-radius: 3.125rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  transition: all 300ms ease;
  display: inline-flex;
  padding: 1rem;
  width: 12.5rem;
  height: 3.1875rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem gray; }
  .boton:hover {
    background-color: #ffff;
    color: #B20303; }

.contenedor-de-imagen {
  margin-top: .125rem;
  overflow: hidden; }
  .contenedor-de-imagen .imgen-portada {
    width: 100%;
    border-radius: 3.75rem 0rem 0rem 3.75rem; }

.contenedor-img {
  display: grid; }
  .contenedor-img .img-nosotros {
    grid-column: 2;
    grid-template-columns: 1fr 768px 1fr; }

.cuerpo {
  background-image: url("https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?crop=entropy&cs=srgb&fm=jpg&ixid=M3w3MjAxN3wwfDF8c2VhcmNofDd8fGJhY2tncm91bmR8ZW58MHx8fHwxNjg2NDI0MTcyfDA&ixlib=rb-4.0.3&q=85&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 1rem 0; }
  .cuerpo p {
    margin-bottom: .625rem; }

.titulos-contenidos {
  display: inline-block;
  color: #000000;
  font-weight: 600;
  font-size: 2em;
  line-height: 2.2rem;
  margin-bottom: 0.8rem;
  text-align: justify; }

.titulos-contenidos-paginas {
  color: #000000;
  font-weight: 600;
  font-size: 2em;
  line-height: 2.2rem;
  margin-bottom: 0.8rem;
  text-align: center; }

.subtitulos-contenidos {
  display: inline-block;
  color: #000000;
  font-weight: 450;
  font-size: 1.5em;
  line-height: 1.6rem;
  margin-bottom: 0.8rem;
  text-align: justify;
  height: 5rem;
  left: 4.5rem;
  top: 9.875rem; }

main p {
  color: #000000;
  padding: 0rem 2rem; }

.pie-pagina {
  width: 100%;
  background-color: #000000; }
  .pie-pagina .grupo-1 {
    width: 100%;
    max-width: 64rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3.125rem;
    padding: 0; }
    .pie-pagina .grupo-1 .box figure {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .pie-pagina .grupo-1 .box figure img {
        width: 6.25rem; }
    .pie-pagina .grupo-1 .box h2 {
      color: #ffff;
      margin-top: .5rem;
      margin-bottom: 1.5625rem;
      font-size: 1rem;
      text-align: center; }
    .pie-pagina .grupo-1 .box p {
      color: #ffff;
      margin-bottom: .625rem; }
    .pie-pagina .grupo-1 .box .red-social {
      display: flex;
      justify-content: center; }
      .pie-pagina .grupo-1 .box .red-social a {
        display: inline-flex;
        text-decoration: none;
        width: 3.1875rem;
        height: 2.8125rem;
        margin-left: .125rem;
        text-align: center;
        transition: all 300ms ease;
        color: #ffff;
        font-size: 1.875rem; }
        .pie-pagina .grupo-1 .box .red-social a:hover {
          color: #B20303;
          transform: scale(1.5); }
  .pie-pagina .grupo-2 {
    color: #ffff;
    text-align: center;
    margin-bottom: .5rem; }

.formulario-de-contacto {
  font-family: 'roboto', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  display: flex;
  justify-content: center;
  margin-left: 9.375rem;
  margin-right: 9.375rem;
  margin-bottom: 0.125rem; }
  .formulario-de-contacto label {
    font-weight: 500;
    font-size: 1rem; }
  .formulario-de-contacto label, .formulario-de-contacto input {
    display: block;
    width: 100%; }
  .formulario-de-contacto textarea, .formulario-de-contacto input {
    border: 1px solid #B20303;
    font-style: italic; }
  .formulario-de-contacto a {
    margin-left: 2.375rem; }

.respuesta-contactanos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 9.375rem 0.625rem;
  margin-left: 9.375rem;
  margin-right: 9.375rem;
  border-radius: 0.3125rem;
  box-shadow: 0.3125rem 0.3125rem 0.3125rem gray; }
  .respuesta-contactanos p {
    color: #B20303;
    font-size: 1.875rem;
    font-weight: 600;
    text-shadow: 0.125rem 0.125rem 0.125rem #ffff; }

.cards {
  display: flex;
  flex-direction: column;
  top: 0;
  background-color: #ffff;
  box-shadow: 0.625rem 0.3125rem 0.3125rem gray;
  border: 0.125rem solid black;
  border-style: outset;
  border-color: #B20303;
  border-width: 0.25rem;
  border-radius: .3125rem;
  margin: 1.25rem; }
  .cards .clase-img {
    position: relative;
    overflow: hidden;
    height: 12.5rem; }
    .cards .clase-img img {
      object-fit: cover;
      height: 100%;
      width: 100%; }

.cards.primera img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: initial;
  height: auto; }

.nombre-comediante {
  opacity: 67%; }

.listado-de-atributos-comediantes {
  font-size: 1rem;
  left: .3125rem;
  padding: .1875rem .375rem;
  top: .3125rem; }

@media screen and (max-width: 768px) {
  .pie-pagina .grupo-1 {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.875rem;
    padding: 0; }
  .nombre-comediante h3 {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0px; }
  .listado-de-atributos-comediantes {
    font-size: 0.75rem; } }

@media screen and (max-width: 425px) {
  .pie-pagina .grupo-1 {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1.875rem;
    padding: 0; }
  .imgen-portada {
    border-radius: 0.5rem; }
  .formulario-de-contacto {
    margin-left: .125rem;
    margin-right: .125rem; }
  .respuesta-contactanos {
    margin-left: .125rem;
    margin-right: .125rem; }
  .contenedor-img {
    display: grid; }
    .contenedor-img .img-nosotros {
      grid-column: 2;
      grid-template-columns: 320px; }
      .contenedor-img .img-nosotros img {
        width: 320px; } }
