.cuerpo {
    background-image: url("https://images.unsplash.com/photo-1558591710-4b4a1ae0f04d?crop=entropy&cs=srgb&fm=jpg&ixid=M3w3MjAxN3wwfDF8c2VhcmNofDd8fGJhY2tncm91bmR8ZW58MHx8fHwxNjg2NDI0MTcyfDA&ixlib=rb-4.0.3&q=85&q=85&fmt=jpg&crop=entropy&cs=tinysrgb&w=450");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 1rem 0;
    p {
    margin-bottom: .625rem;
}}

.titulos-contenidos {
    display: inline-block;
    color: $color-secundario;
    font-weight: 600;
    font-size: 2em;
    line-height: 2.2rem;
    margin-bottom: 0.8rem;
    text-align: justify;
}

.titulos-contenidos-paginas {
    color: $color-secundario;
    font-weight: 600;
    font-size: 2em;
    line-height: 2.2rem;
    margin-bottom: 0.8rem;
    text-align: center;
}

.subtitulos-contenidos {
    display: inline-block;
    color: $color-secundario;
    font-weight: 450;
    font-size: 1.5em;
    line-height: 1.6rem;
    margin-bottom: 0.8rem;
    text-align: justify;
    height: 5rem;
    left: 4.5rem;
    top: 9.875rem;
}

main p {
    color: $color-secundario;
    padding: 0rem 2rem;
}