.cards {
    display: flex;
    flex-direction: column;
    top: 0;
    background: rgb(0,0,0);
    background: linear-gradient(36deg, rgba(0,0,0,1) 4%, rgba(203,197,197,1) 8%, rgba(0,0,0,1) 12%, rgba(140,140,140,1) 16%, rgba(0,0,0,1) 20%, rgba(178,3,3,1) 24%, rgba(0,0,0,1) 28%);
    border: 0.125rem solid black;
    border-style: outset;
    border-color: $color-resaltado;
    border-width: 0.25rem;
    border-radius: 1.25rem;
    margin: 1.25rem;
    .clase-img {
        position: relative;
        overflow: hidden;
        height: 12.5rem;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            border-radius: 1.25rem;
        }
    }
    
}

.cards.primera img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: initial;
    height: auto;
}
.nombre-comediante {
    color: $color-resaltado;
    padding-top: .125rem;
    display: flex;
    align-content: center;
    justify-content: center;
}
.listado-de-atributos-comediantes {
    font-size: 1rem;
    left: .3125rem;
    padding: .1875rem .375rem;
    top: .3125rem;
    display: flex;
    justify-content: center;
    li{
        list-style: none;
        color:$color-primario;
        background-color: rgba(166,166,166,0.30);
    }
}